{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container-fluid">
    <hr>
    <div class="jumbotron card card-image" style=" background-color: rgb(22, 21, 21);">
        <div class="text-white text-center py-5 px-4">
            <div>
                <h2 style="color:blue;"class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>  WELCOME TO AWWARDS APP</strong></h2>
                <p style="color:blue;"class="mx-5 mb-5">View and rate projects posted by fellow users<br>
                Post your projects and let them be reviewed by other users</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="container">
            {% for project in projects %}
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="view overlay">
                        <img class="card-img-top" src="{{project.photo.url}}">
                        <a><div class="mask rgba-white-slight"></div></a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><a style="color: inherit; text-decoration: none;" href="{% url 'project' project_id=project.id %}">{{project.title}}</a></h3><hr>
                        <p class="card-text">{{project.description|truncatechars:80}}</p><hr>
                        <button><a style="color: inherit; text-decoration: none;" href="{{project.link}}"><p class="card-text">View Site  </p></a></button>
                        <p class="card-text" style="text-align: right;">{{project.posted_on|timesince}}  ago</p>
                    </div>
                    <div class="card-footer">
                        <p> Author: <a href="{% url 'update_profile'  %}" style="text-decoration: none;color: inherit;">{{project.user.username}}   <img  src="{{project.user.profile.profile_pic.url}}" width="20" height="20" class="rounded-circle border userimage"></a></p>
                    </div>
                </div>
                <br>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
